.singlepost{
    padding: 5px;
    background: #fff;
}
.singlepost .right{
margin-top: 30px;
}
.singlepost img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.singlepost h1{
    font-style: 30px;
    font-weight: 500;
}
.singlepost p{
    margin: 20px 0;
    font-style: 18px;
    line-height: 2;
    text-transform: capitalize;
}
.singlepost .buttons{
    display: flex;
    justify-content: flex-end;
}
.singlepost .button{
    margin-left: 20px;
    border: none;
}
.singlepost .button:nth-child(1){
    background: #10ac84 !important;
}
.singlepost .button:nth-child(2){
    background: #ee5253 !important;
}

